.bookmark-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .bookmark-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
  .bookmarked {
    color: #ffcc00; 
  }
  
  .flag-text {
    margin-left: 4px; 
  }
