.fib-input-container {
  display: flex;
  align-items: center;
}

.bookmark-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.bookmarked {
  color: #ffcc00; 
}

.flag-text {
  margin-left: 4px; 
}